@import "./variables";
@import "./animations";

actionbar {
    background-color: $dark-color;
    color: white;
}

label,
button,
tabview,
tabviewitem,
mdbutton {
    font-family: Roboto;
}


.page {
    background-color: $dark-color;
}

.pageContent {
    background-color: #f5f7fa;
}

label,
htmllabel {
    // font-family: 'SF UI Text, Roboto';
    white-space: normal;
}

button {
    color: $primary-color;
    background-color: transparent;
    // padding: 4;
    // margin:4;
    // ripple-color: $primary-color;
}
mdbutton {
    color: white;
    // background-color: $primary-color;
    // ripple-color: $primary-color;
}

mdtextfield {
    highlight-color: $accent-color;
    placeholder-color: $accent-color;
}
.mdi {
    font-family: "Material Design Icons";
}

.cairn {
    font-family: "cairn";
}

.themedBack {
    background-color: $dark-color;
}

.buttonwhite {
    background-color: white;
    color: $primary-color;
    ripple-color: $primary-color;
}

.buttonthemed {
    background-color: $primary-color;
    color: white;
    ripple-color: white;
}

.floating-btn {
    @extend .mdi, .buttonwhite;
    // color: $primary-color;
    font-size: 32;
    padding: 0;
    margin: 0;
    width: 56;
    height: 56;
    border-radius: 28;
}

.botom-nav {
    tab-active-color: green;
    tab-inactive-color: black;
    tab-background-color: blue;
}

tabview {
    selected-tab-text-color: white;
    tab-background-color: $dark-color;
    android-selected-tab-highlight-color: $primary-color;
}

.actionBar {
    background-color: $dark-color;
}
.actionBarBar {
    height: $actionbar-height;
}

.actionBarButton {
    @extend .mdi;
    width: $actionbar-height;
    height: $actionbar-height;
    margin:0;
    padding:0;
    font-size: 32;
    border-radius: $actionbar-height/2;
    color: #ffffff;
    ripple-color: #88ffffff;
}

.actionBarTitle {
    vertical-alignment:center;
    font-size: 18;
    font-weight: bold;
    color: white;
}

.actionBarSubtitle {
    font-size: 13;
    color: #88ffffff;
}