@import "./variables";
@import "./animations";

actionbar {
    background-color: $dark-color;
    color: white;
}

.page {
    background-color: #F5F7FA;
}


label,
htmllabel {
    white-space: normal;
}

button {
    color: $primary-color;
    background-color: transparent;
    // padding: 4;
    // margin:4;
    // ripple-color: $primary-color;
}
mdcbutton {
    color: white;
    // background-color: $primary-color;
    // ripple-color: $primary-color;
}

.mdi {
    font-family: "Material Design Icons";
}

.cairn {
    font-family: "cairn";
}

.themedBack {
    background-color: $dark-color;
}

.actionBar {
    background-color: $dark-color;
    height: $actionbar-height;
}

.actionBarButton {
    @extend .mdi;
    top: 0;
    left: 0;
    width: $actionbar-button-height;
    height: $actionbar-button-height;
    font-size: 26;
    border-radius: $actionbar-button-height / 2;
    color: #ffffff;
    ripple-color: #88ffffff;
    variant: "text";
}

.actionBarTitle {
    font-size: 18;
    color: white;
}

.buttonwhite {
    background-color: white;
    color: $primary-color;
    ripple-color: $primary-color;
}

.buttonthemed {
    background-color: $primary-color;
    color: white;
    ripple-color: white;
}

.floating-btn {
    @extend .mdi, .buttonwhite;
    // color: $primary-color;
    font-size: 32;
    padding: 0;
    margin: 0;
    width: 56;
    height: 56;
    border-radius: 28;
}

.botom-nav {
    tab-active-color: green;
    tab-inactive-color: black;
    tab-background-color: blue;
}

tabview {
    selected-tab-text-color:white;
    tab-background-color: $dark-color;
    android-selected-tab-highlight-color:$primary-color;
}