$primary-color: #E86A45;
$primary-color-dark: #D6674D;
$primary-color-semi: #33F07254;
$accent-color: #5F337A;
$accent-color-dark: #49285e;
$dark-color: #a34e3b;
$background-color: #fff;
$text-color: #232F34;
$text-color-sub: #666666;
$disabled-color: #404040;
$actionbar-height: 60;
// $actionbar-button-height: 40;

:export {
    accentColor: $accent-color;
    accentColorDark: $accent-color-dark;
    primaryColor: $primary-color;
    primaryColorDark: $primary-color-dark;
    darkColor: $dark-color;
    backgroundColor: $background-color;
    actionBarHeight: $actionbar-height;
    // actionBarButtonHeight: $actionbar-button-height;
}
