$primary-color: #E86A45;
$primary-color-dark: #D6674D;
$primary-color-semi: rgba(240, 114, 84, 0.2);
$accent-color: #5F337A;
$accent-color-dark: #49285e;
$dark-color: #a34e3b;
$background-color: #fff;
$text-color: #232F34;
$text-color-sub: #666666;
$disabled-color: #404040;
$actionbar-height: 50;
$actionbar-button-height: 50;
$navigation-bar-height: 48;
$status-bar-height: 24;
